body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

ul.navbar {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

ul.navbar > li {
    padding: 10px;
}

ul.navbar .logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

ul.navbar .logo img {
    height: 50px;
}

.buttons {
    display: flex;
    gap: 15px;
    flex-grow: 2;
    justify-content: center;
}

.buttons li {
    display: flex;
    align-items: center;
}

.buttons li a {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.buttons li svg {
    margin-left: 5px;
}

.icons {
    padding-left: 20px;
}

.icons img {
    height: 24px;
    cursor: pointer;
}

.icons img:hover {
    opacity: 0.7;
}

.Contact {
    text-align: center;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: white;
    background-color: #39db4a;
    border: 0px;
    border-radius: 50px;
    height: 40px;
    width: 120px;
    font-size: 16px;
}
.Contact img{
    height: 18px;
    width: 18px;
}

Main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 100px;
}

Main img {
    height: 750px;
    width: auto;
    display: block;
}

.green {
    color: #53df62;
}

.mainSection {
    flex: 1;
    width: 1000px;
    width: fit-content;
}

.mainSection > h1 {
    font-size: 40px;
    padding-bottom: 20px;
}

.buttonsInMainSection {
    display: flex;
    gap: 20px;
    padding-top: 30px;
}

.buttonsInMainSection button {
    background-color: #39db4a;
    border-radius: 40px;
    width: 150px;
    height: 50px;
    color: white;
    font-size: 16px;
    border: none;
    box-shadow: 10px 10px 8px #53df6160;
    cursor: pointer;
}

.buttonsInMainSection img {
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px 10px #787e7914;
}

.buttonsInMainSection section {
    display: flex;
    gap: 5px;
    align-items: center;
}

.rightSection {
    position: relative;
}

.imgCards {
    position: absolute;
    top: 80%;
    left: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
}
.card{
    background-color: white;
    color: palegoldenrod;
    box-shadow: 10px 10px 10px 10px #787e7914;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    width: 250px;
    height: 100px;
    padding: 10px;

    overflow: hidden;
    position: relative;

    height: fit-content;
    
}

.cardDetails{

    height: 50%;
    color: rgb(129, 127, 122);
    display: flex;
    flex-direction: column; 

    gap: 0px;
    justify-content: space-evenly; 
    padding-bottom: 0px;
    
  }
.card img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
.checked {
    color: rgb(255, 238, 1);
  }


.red{

    color: #ad0000;
}


.cardDetails h5 {
    margin-bottom: 2px; 
    padding: 0px;
}

.cardDetails .Ratings {
    margin-bottom: 2px; 
    padding: 0px;
}

.cardDetails h6 {
    margin-top: 2px; 
    padding: 0px;
    padding-bottom: 0px;
}

.PopularCatagories{
    padding-left: 150px;
    padding-right: 100px;
    text-align: center;
    
}
.PopularCatagories h4{
    color: #cc3131;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

}
.PopularCatagories h2{
    font-size: 40px;
}
.PopularCrds{
    display: flex;
    justify-content: space-evenly;
}
.popCard{
    background-color: #ffffff;
    box-shadow: 10px 10px 10px 10px #787e7914;
    border-radius: 30px;
height: 30vh;
width: 30vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.popCard img{

    height: 15vh;
    width: 15vw;
    object-fit: contain; 
}
.dishesHeader{
    display:flex !important;
    flex-direction: row !important;

    
}
.dishes{
    display:flex;
    justify-content:center;
    justify-content: space-between;
    margin-left: 0px;
    padding-left: 0px;
}


.dishes article{

    border-radius: 30px;
    height: 50%;
    width: 25%;
    align-items: center;
    box-shadow: 10px 10px 10px 10px #787e7914;
    margin-left:0 ;
}

.dishImg{
    height: 60%;
    width: 60%;
   
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dishes__{

    margin-top: 150px;
    padding-left: 150px;
    padding-right: 100px;
}
.dishesHeader{

    width: 100%;
    justify-content: space-between;
}
.dishesHeader p{
    color:#cc3131;
    text-transform: uppercase;
    font-weight:400;
    letter-spacing: 0.1rem;
}
.dishesHeader h2{
    color: black;
    
    font-weight: bold;
    font-size: 40px;
}
.dishesHeader .navs{
    justify-content: space-between;
    align-items: center;
    display:flex;
    flex-direction: row;
    height: 8vh;
    width: 8vw;

}

.dishesHeader .navsR{
    color:  #39db4a;
    font-size: 300%;
}
.dishesHeader .navsL{
    color:  #dbdbdb;
    font-size: 300%;

}
.dishes div{
    display: flex;
    justify-content: space-between;
}