body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

ul.navbar {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

ul.navbar > li {
    padding: 10px;
}

ul.navbar .logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

ul.navbar .logo img {
    height: 50px;
}

.buttons {
    display: flex;
    gap: 15px;
    flex-grow: 2;
    justify-content: center;
}

.buttons li {
    display: flex;
    align-items: center;
}

.buttons li a {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.buttons li svg {
    margin-left: 5px;
}

.icons {
    padding-left: 20px;
}

.icons img {
    height: 24px;
    cursor: pointer;
}

.icons img:hover {
    opacity: 0.7;
}

.Contact {
    text-align: center;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: white;
    background-color: #39db4a;
    border: 0px;
    border-radius: 50px;
    height: 40px;
    width: 120px;
    font-size: 16px;
}
.Contact img{
    height: 18px;
    width: 18px;
}

Main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 30px;
}

Main img {
    height: 750px;
    width: auto;
    display: block;
}

.green {
    color: #53df62;
}

.mainSection {
    flex: 1;
    padding: 20px;
}

.mainSection > h1 {
    font-size: 30px;
}

.buttonsInMainSection {
    display: flex;
    gap: 20px;
}

.buttonsInMainSection button {
    background-color: #39db4a;
    border-radius: 40px;
    width: 150px;
    height: 50px;
    color: white;
    font-size: 16px;
    border: none;
    box-shadow: 10px 10px 8px #53df6160;
    cursor: pointer;
}

.buttonsInMainSection img {
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px 10px #787e7914;
}

.buttonsInMainSection section {
    display: flex;
    gap: 5px;
    align-items: center;
}

.rightSection {
    position: relative;
}

.imgCards {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
}

.card img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
